body {
    background-color: #000000;
    color: #ffffff;
}

.jumbotron{
    background-color: #062F4F
}

.nav-pills li a{
    color: #cccccc;
    background-color:#666666;
}

.nav-pills li.active a{
    background-color: #062F4F;
    color:#ffffff;
}

.text-muted {
    color:#cccccc
}