/projects/Final Project/.Rhistory
/projects/Final Project/.Rproj.user/AD6EA0CF/viewer-cache/3A020042.Rdata
/projects/Final Project/.Rproj.user/AD6EA0CF/viewer-cache/8E18D51.Rdata
/projects/Final Project/.Rproj.user/AD6EA0CF/viewer-cache/9B5739BA.Rdata
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/12E5965A
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/12E5965A-contents
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/15AA4291
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/15AA4291-contents
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/26F2C69D
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/26F2C69D-contents
/projects/Final Project/.Rproj.user/AD6EA0CF/viewer-cache/27BB37E4.Rdata
/projects/stock_market_ta/50-200.csv
/projects/stock_market_ta/50-200 - Copy.csv
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/75E170FA
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/75E170FA-contents
/projects/Final Project/.Rproj.user/7322A70A/console06/1916A52C
/projects/Final Project/.Rproj.user/AD6EA0CF/viewer-cache/4992EA9E.Rdata
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/87467C7D
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/87467C7D-contents
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/226033BB
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/226033BB-contents
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/919246B5
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/919246B5-contents
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/prop/41184811
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/prop/83250214
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/AF90F0FC
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/AF90F0FC-contents
/projects/box_office/alldata.csv
/projects/box_office/.ipynb_checkpoints/alldata-checkpoint.csv
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/B88426BD
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/B88426BD-contents
/projects/Final Project/.Rproj.user/AD6EA0CF/viewer-cache/C1D434D7.Rdata
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/prop/D3FCAE84
/projects/stock_market_ta/data-1573467630154.csv
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/prop/DC1FC090
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/prop/E4A09DCF
/projects/Final Project/.Rproj.user/AD6EA0CF/viewer-cache/E68F5226.Rdata
/projects/Final Project/.Rproj.user/AD6EA0CF/viewer-cache/E65192C.Rdata
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/E88387CC
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/per/t/E88387CC-contents
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/prop/E2815264
/projects/Final Project/.Rproj.user/7322A70A/sources/prop/EB90BC3
/projects/Final Project/.Rproj.user/7322A70A/sources/prop/F12AA15B
/projects/Final Project/.Rproj.user/7322A70A/pcs/files-pane.pper
/projects/Final Project/.Rproj.user/AD6EA0CF/pcs/files-pane.pper
/projects/Final Project/.Rproj.user/7322A70A/sources/prop/INDEX
/projects/Final Project/.Rproj.user/AD6EA0CF/sources/prop/INDEX
/projects/Final Project/.Rproj.user/7322A70A/console06/INDEX001
/projects/Final Project/.Rproj.user/AD6EA0CF/console06/INDEX001
/projects/Final Project/.Rproj.user/7322A70A/pcs/source-pane.pper
/projects/Final Project/.Rproj.user/AD6EA0CF/pcs/source-pane.pper
/projects/stock_market_ta/strategies.csv
/projects/box_office/tmdb_5000_movies.csv
/projects/box_office/.ipynb_checkpoints/tmdb_5000_movies-checkpoint.csv
/projects/stock_market_ta/trades.csv
/projects/Final Project/.Rproj.user/7322A70A/pcs/windowlayoutstate.pper
/projects/Final Project/.Rproj.user/AD6EA0CF/pcs/windowlayoutstate.pper
/projects/Final Project/.Rproj.user/7322A70A/pcs/workbench-pane.pper
/projects/Final Project/.Rproj.user/AD6EA0CF/pcs/workbench-pane.pper
/projects/stock_market_ta/.idea/workspace.xml
/projects/stock_market_ta/.idea/misc.xml
/projects/stock_market_ta/.idea/modules.xml
/projects/Final Project/.Rproj.user/AD6EA0CF/pcs/packages-pane.pper
/projects/Final Project/.Rproj.user/shared/notebooks/patch-chunk-names
/projects/Final Project/.Rproj.user/shared/notebooks/paths
/projects/Final Project/.Rproj.user/AD6EA0CF/persistent-state
/projects/stock_market_ta/.idea/inspectionProfiles/profiles_settings.xml
/projects/Final Project/.Rproj.user/7322A70A/rmd-outputs
/projects/Final Project/.Rproj.user/AD6EA0CF/rmd-outputs
/projects/Final Project/.Rproj.user/7322A70A/saved_source_markers
/projects/Final Project/.Rproj.user/AD6EA0CF/saved_source_markers
